{#
/**
 * @file
 * Default theme implementation to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 *
 * @ingroup themeable
 */
#}

<header class="header-main">
  <div class="menu-btn open" aria-hidden="true">&#9776; Menu</div>
  <div class="contain">
    <a  class ="logo" href="{{ front_page }}" title="{{ site_name }} » {{ site_slogan }}">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="20px" height="26px" viewBox="0 0 20 26" version="1.1">
        <title>Logo</title>
        <description>Logo</description>
        <defs/>
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage" class="logo-svg">
          <g sketch:type="MSLayerGroup" fill="">
            <path d="M10.030309 0.4 C11.278764 2.5 12.8 4.1 14.3 5.8 C15.335503 6.9 16.4 8.1 17.4 9.4 L17.4504274 9.4 L17.457002 9.5 C18.9264957 11.3 19.7 13.7 19.6 16.1 C19.4360947 18.6 18.4 20.9 16.8 22.6 C14.9722551 24.5 12.6 25.5 10 25.5 C7.48330046 25.5 5.1 24.5 3.3 22.6 C1.61216305 20.9 0.6 18.6 0.5 16.1 C0.389020381 13.7 1.1 11.3 2.6 9.5 L2.60966469 9.4 L2.61617357 9.4 C3.66291913 8.1 4.7 6.9 5.8 5.8 C7.29664694 4.1 8.8 2.5 10 0.4 L10.030309 0.4 Z" sketch:type="MSShapeGroup"/>
          </g>
        </g>
      </svg>
    </a>
    {% if page.nav %}
    {{ page.nav }}
    {% endif %}
  </div>
</header>

<div class="content contain">
  <main role="main">
    {% if title %}
      <h1>{{ title }}</h1>
    {% endif %}
    {{ messages }}
    {{ page.content }}
  </main>
</div>

<footer class="footer-main">
  <div class="contain">
    {% if page.footer %}
    {{ page.footer }}
    {% endif %}
    <a class="twitter" href="https://twitter.com/zetagraph"><img class="twitter-icon inject-svg" data-src="/themes/monoset/icons/twitter.svg" alt="twitter"></a>
    <a class="top-link" href="#top"><img class="arrow-up inject-svg" data-src="/themes/monoset/icons/chevron-up.svg" alt="chevron-up"></a>
  </div>
</footer>
